.CatalogLink {
  aspect-ratio: 1;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38 38 38 / 4%);
  border-radius: 12px;
  margin-left: 12px;
  margin-right: 12px;

  &:hover {
    background-color: rgb(38 38 38 / 8%);
    transition: background-color 100ms linear;
  }
}