.AsideProfile {
  display: flex;
  gap: 15px;
}

.avatarWrapper > svg {
  border-radius: 12px;
  background-color: rgb(38 38 38 / 4%);
  fill: gray;
  height: 100%;
  object-fit: cover;
}

.logOut {
  display: flex;
  align-items: center;
}