@use "normalize" as *;
@use "global" as *;
@use "fonts" as *;
@use "variables" as *;

.app {
  width: 100vw;
  min-height: 100vh;
  padding: 24px;
}


.scaffold__section {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  align-self: stretch;
  flex-flow: column nowrap;
  margin-left: 24px ;
}

.scaffold__content {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  margin: 0 auto;
}

.scaffold__nav {
  display: flex;
  align-items: flex-start;
  flex: 1 1 0;
}

.scaffold__main {
  display: flex;
  width: 720px;
  padding: 32px 24px;
  background: linear-gradient(135deg,#d6e0ff,#f6e4f1);
  border-radius: 20px;

}

.scaffold__aside {
  display: flex;
  flex: 1 1 0;
  justify-content: flex-end;
  align-items: center
}

.page-wrapper {
  flex-grow: 1;
}

