.MainPanel {
  display: flex;
  align-items: center;
  width: 720px;
}

.searchWrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.searchInput {
  height: 48px;
  width: 100%;
  padding-right: 80px;
  padding-left: 36px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(38 38 38 / 4%);


  &::placeholder {
    color: rgb(0 0 0 / 70%);
    font-weight: 500;
    letter-spacing: -0.3px;

  }

  &:hover {
    background-color: rgb(38 38 38 / 8%);
    transition: background-color 100ms linear;
  }

}


